@import '../../_MainContainer/Variables.scss';

.TaskAddingForm {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: $mobile), (max-width: 750px) and (max-height: $mobile-h){
        position: fixed; 
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $bg-container-color;
        z-index: 2;
    }
}