//font

$main-font: "OpenSans", Arial, Helvetica, sans-serif;

$light: 300;
$regular: 400; 
$bold: 700;

// colors

$text-color: #fff;
$hover-color: rgb(0, 0, 90);
$bg-container-color: rgb(85, 85, 85);
$bg-color: rgb(58, 58, 58);

// viewport

$tablet: 660px;
$desktop: 960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;